<mat-form-field class="example-full-width">
  <mat-label>Filters</mat-label>
  <input
    matInput
    placeholder="Search"
    [formControl]="control"
    [ngxSuggest]="suggest"
  />
</mat-form-field>

<!-- <p style="color: black; font-size: 18px; margin-bottom: 10px;">
  {{ control.value }}
</p> -->

<ngx-suggest #suggest="ngxSuggest">
  <ng-template ngxSuggestContent>
    <ngx-option
      *ngFor="let tag of filteredTags | async"
      [value]="getValue(tag)"
    >
      <ng-container *ngIf="!tag.parent; else elseBlock">
        <span class="type">{{ tag.name }}:</span>&nbsp;
        <span class="description">{{ tag.description }}</span>
      </ng-container>
      <ng-template #elseBlock>
        <span class="type">{{ tag.parent }}:{{ tag.name }}</span>
      </ng-template>
    </ngx-option>
    <ngx-option class="no-result" *ngIf="!tags.length">No result...</ngx-option>
    <!-- </ng-container> -->
  </ng-template>
</ngx-suggest>
